@import url("../fonts/font.css");

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* swiper loading effects */
.swiper-loading {
  position: fixed !important;
  background: #000000aa;
  width: 100vw;
  height: 100vh;
  left: 0 !important;
  top: 0 !important;
  z-index: -99 !important;
  opacity: 1;

  transition: opacity .5s;
  transition-timing-function: cubic-bezier(.75,.3,.75,.3);
}
.swiper-loading.active {
  z-index: 99 !important;
  animation: FadeIn .5s;
}
.swiper-loading .line {
  width: 500px;
  max-width: 50vw;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.swiper-loading .line .progress-container {
  width: 90%;
  position: absolute;
  height: 100%;
  left: 0;
}
.swiper-loading.active .line .progress-container {
  animation: ProgressContainerMove 1.5s infinite;
  animation-timing-function: ease-in;
  animation-timing-function: cubic-bezier(.76,.12,.3,.85);
}
@keyframes ProgressContainerMove {
  0% { left: 0; }
  100% { left: 10%; }
}
.swiper-loading .line .progress {
  position: absolute;
  height: 100%;
  /* width: 0; */
  background: #fff;
  top: 0;
  border-radius: 2px;
  /* left: 0; */
}
.swiper-loading.active .line .progress {
  animation: SwiperLoading 1.5s infinite;
  animation-timing-function: cubic-bezier(.88,.01,.66,.54);
}
@keyframes SwiperLoading {
  0% { 
    width: 0; 
    left: 0; 
    right: 100%;
  }
  50% { 
    width: 100%;
    left: 0;
    right: 0;
  }
  100% { 
    width: 0%;
    left: 100%;
    right: 0;
  }
}

/* Swiper styles */
.swiper-container {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;

  position: fixed !important;
  background: #000000aa;
  width: 100vw;
  height: 100vh;
  left: 0 !important;
  top: 0 !important;
  z-index: -99 !important;
  opacity: 0;

  transition: opacity .5s;
  transition-timing-function: cubic-bezier(1.000, 0.005, 0.215, 1.000);
}
.swiper-container.active {
  z-index: 10 !important;
  opacity: 1;
}
.swiper-container.active.wipe {
  opacity: 0;
}
.swiper-container.active > div { 
  animation: WipeIn .5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1.000, 0.005, 0.215, 1.000);
  left: auto !important;
}
.swiper-container.active.wipe > div.swiper-wrapper {
  animation: WipeOut .5s;
  animation-iteration-count: 1;
  left: auto !important;
}
@keyframes WipeIn {
  0% { right: -100%; opacity: 0; }
  100% { right: 0; opacity: 1; }
}
@keyframes WipeOut {
  0% { right: 0; opacity: 1; }
  100% { right: 100%; opacity: 0; }
}
@keyframes FadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.swiper-container .close-btn {
  position: absolute;
  top: 80px;
  right: 0;
  width: 80px;
  height: 50px;
  background: #F2C14E;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: #424242 0 0 10px;
  z-index: 999;
}
.swiper-container .close-btn:hover {
  cursor: pointer;
  background: #ffb302;
}
.swiper-container .close-btn img {
  width: 30px;
  margin: 10px 15px;
}
.swiper-wrapper {
  height: calc(100vh - 600px);
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  /* margin-left: 80px;
  margin-right: 80px; */
  border-radius: 10px;
  box-shadow: #000 0 0 10px;
  width: auto;
  max-width: calc(100vw - 60px);
  overflow: hidden;

  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide.swiper-slide-active {
  box-shadow: #000 0 0 20px;
}
.swiper-slide:not(.swiper-slide-active) .swiper-slide-shadow-left,
.swiper-slide:not(.swiper-slide-active) .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.6)),to(rgba(0,0,0,0.6)));
  background-image: -webkit-linear-gradient(right,rgba(0,0,0,.6),rgba(0,0,0,0.6));
  background-image: -o-linear-gradient(right,rgba(0,0,0,.6),rgba(0,0,0,0.6));
  background-image: linear-gradient(to left,rgba(0,0,0,.6),rgba(0,0,0,0.6));
}

h1.album-name {
  font-family: 'AvenirNextCondensed-Medium';
  font-size: 52px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin: 30px 0 5vh;
}
p.photo-caption {
  font-family: 'AvenirNext-Medium';
  font-size: 34px;
  color: #17bebb;
  line-height: 30px;
  margin: 30px 0;
  text-align: center;
}
/* Swiper styles end */

.custom-marker-div {
  position: relative;
  margin-top: -4px;
  transform: translate(-50%, -100%);
}
.triangle {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  position: absolute;
  left: 50%;
  top: 71px;
  transform: translate(-50%);
}
.custom-marker {
  border-radius: 3px;
  border: #fff 3px solid;
  box-shadow: #00000044 0 0 2px 3px;
  width: 65px;
  height: 65px;
  background-size: cover;
  background-position: center;
}
.custom-marker:hover {
  cursor: pointer;
}


/**
 * Responsive
 **/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  h1.album-name {
    font-size: 42px;
  }
  p.photo-caption {
    font-size: 24px;
  }
  .swiper-wrapper {
    height: calc(100vh - 300px);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  h1.album-name {
    font-size: 42px;
  }
  p.photo-caption {
    font-size: 24px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1.album-name {
    font-size: 42px;
  }
  p.photo-caption {
    font-size: 24px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  h1.album-name {
    font-size: 42px;
  }
  p.photo-caption {
    font-size: 24px;
  }
}